@import './variables.scss';

html {
    scroll-behavior: smooth;
    &::-webkit-scrollbar {
        width: 2px;
    }
    &::-webkit-scrollbar-thumb {
        background-color: $primary-color;
        border-radius: 10px;
    }
}

body {
    background-color: $background-color;
    color: $foreground-color;
}

a,
button {
    font-size: 0.9rem;
    cursor: pointer;
}

.app {
    max-width: 1800px;
    margin: 0 auto;
}
