@import './variables.scss';

.map {
    max-width: 1400px;
    margin: 0 auto;
    height: 550px;
    border-radius: 4px;
    border: 1px solid rgba($foreground-color, 0.2);
    margin-bottom: 10px;
    display: grid;
    place-items: center;

    p {
        text-align: center;
    }
}
