@import './variables.scss';

.movie {
    display: grid;
    grid-template-columns: 16% 1fr;
    grid-template-rows: auto auto;
    gap: 4px;
    margin-bottom: 1rem;

    img {
        max-width: 100%;
        height: auto;
        border-radius: 4px;
    }

    .details {
        background: $backgroun-color-darker;
        border-radius: 4px;
        padding: 1rem;

        h3 {
            font-size: 1.5rem;
            font-weight: 600;
            margin-bottom: 8px;
        }

        .tags {
            padding: 0.2rem 1rem;
            font-size: 0.8rem;
            background: $primary-color;
            border-radius: 50px;
            color: $background-color;
            margin-right: 4px;
            display: inline-block;
        }

        p {
            span {
                font-weight: 600;
            }
        }

        .synopsis {
            margin-top: 20px;
            max-width: 800px;
        }
    }

    .cinemas {
        div {
            a {
                background: $primary-color;
                border-radius: 4px;
                display: inline-block;
                color: $background-color;
                padding: 0.6rem;
                width: 100%;
                text-align: center;
            }
        }
    }

    .hours {
        ul {
            display: flex;
            gap: 4px;

            li {
                background: $backgroun-color-darker;
                border: 1px solid rgba($foreground-color, 0.1);
                border-radius: 4px;
                padding: 0.6rem 1rem;
            }
        }
    }
}
