@import '@/app/ui/styles/variables.scss';

.button {
    margin-top: 0.5rem;
    padding: 0.75rem 0;
    width: 200px;
    color: $foreground-reverse-color;
    font-weight: 500;
    background: $primary-color;
    border-radius: 0.25rem;
    display: inline-block;
    text-align: center;
}

.overlay {
    z-index: 1000;
    position: fixed;
    height: 100svh;
    width: 100svw;
    top: 0;
    left: 0;
    background: rgba($background-color, 0.5);
    display: grid;
    place-items: center;

    .modal {
        z-index: 1050;
        width: 540px;
        background: $background-lighter-color;
        padding: 1.5rem;
        border-radius: 0.25rem;

        .schedules {
            display: flex;
            flex-direction: column;
            gap: 1rem;

            h3 {
                font-size: 1.1rem;
                font-weight: 500;
                position: relative;
                margin-bottom: 0.5rem;

                &::after {
                    content: '';
                    width: 100%;
                    height: 1px;
                    background-color: $primary-color;
                    position: absolute;
                    bottom: -0.35rem;
                    left: 0;
                }
            }

            .hours {
                display: flex;
                flex-wrap: wrap;
                gap: 0.5rem;

                li {
                    padding: 0.5rem;
                    border-radius: 0.25rem;
                    background: $background-color;
                    font-size: 0.9rem;
                }
            }
        }
        .closeButton {
            margin-top: 1.5rem;
            width: 100%;
        }
    }
}
